<% provide :web_title, "壢商公告" %>

<h2 class="funtiontitle">請選擇查詢方式</h2>
<div class="functionbox">
    <a href="/schoolposts"><i class="fas fa-newspaper fa-fw"></i>最新公告(30日)</a>
    <a href="/catalogs"><i class="fas fa-swatchbook fa-fw"></i>依分類</a>
    <a href="/schoolposts/search"><i class="fas fa-search fa-fw"></i>依關鍵字</a>
    <a href="/schoolposts"><i class="fas fa-link fa-fw"></i>API 串接</a>
</div>