<% provide :web_title, "查詢方式" %>

<h2 class="funtiontitle">請選擇查詢方式</h2>
<div class="functionbox">
    
    <a href="/schoolposts"><i class="fas fa-newspaper fa-fw"></i>所有最新公告</a>
    <a href="/catalogs"><i class="fas fa-swatchbook fa-fw"></i>依分類</a>
    <a href="/schoolposts"><i class="fas fa-search fa-fw"></i>依關鍵字</a>
    <a href="/schoolposts"><i class="fas fa-link fa-fw"></i>API 串接</a>
</div>