<header class="header">
    <div class="logo">
        <%= image_tag("webicon.png", width: "35px", height: "35px") %>
        <a href="/">壢商公告</a>
    </div>
    
    <input type="checkbox" class="menu-btn" id="menu-btn">
    <label for="menu-btn" class="menu-icon"><span class="nav-icon"></span></label>
    <ul class="menu">
        <li><a href="/"><i class="fas fa-home fa-fw"></i>首頁</a></li>
        <li><a href="/schoolposts/search"><i class="fas fa-search fa-fw"></i>公告搜尋</a></li>
        <li><a href="/schoolpostsapi"><i class="fas fa-link fa-fw"></i>API 串接</a></li>
        <li><a href="/about"><i class="fas fa-info-circle fa-fw"></i>關於</a></li>
    </ul>
</header>